
.debug{
    color: white;
    background-color: rgb(35, 111, 241);
    padding: 15px;
    border: 1px solid white;
    text-align: center;
}

.debug-2{
    color: white;
    background-color: rgb(102, 220, 115);
    padding: 15px;
    border: 1px solid rgb(35, 111, 241);
    text-align: center;
}

.mg-top{
    margin-top: 20px;
}

.bg-white{
    padding: 15px;
}
